.about {
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;

    img {
        max-width: 570px;
    }

    div {
        flex: 1;
    }
}

.about-description {
    h2 {
        font-size: 38px;
        margin-bottom: 24px;
        font-weight: 500;
    }

    p {
        margin-bottom: 14px;
        line-height: 150%;
        text-align: justify;
        hyphens: auto;
        word-spacing: -0.05em;
    }
}