.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    color: $white-normal;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.contato-infos {
    font-size: 12px;
}

.contato-infos a {
    color: $white-normal;
    text-decoration: none;
}