header {
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i {
    color: $white-normal;
}

.header-icons {
    font-size: 8px;
    display: flex;
    gap: 14px;

    a:hover {
        i {
            animation: translateY 0.8s infinite alternate;
            color: $red-light;
        }
    }
}

.header-button {
    border: 1px solid $white-normal;
    padding: 8px 24px;
    border-radius: 4px;
    color: $white-normal;
    background-color: transparent;
    transition: background-color 0.8s;
    border-radius: 25px;
}

.header-button:hover {
    border: 1px solid $red-light;
    background-color: $red-light;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: 50px;
}

.tab {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 15px;
    position: fixed;
    z-index: 99;

    a.actived {
        background-color: $red-light;
    }
}

.tablinks {
    text-align: center;
    text-decoration: none;
    color: $white-normal;
    font-size: 15px;
    padding: 5px;
    z-index: 99;
    background-color: transparent;
    transition: background-color 0.8s;
    font-family: 'Montserrat', 'Sora', sans-serif;
    font-weight: 200;
    border-radius: 5px;
    margin: 5px;
}

.tablinks:hover {
    background-color: $red-light-50-percent;
}

.back-to-top {
    position: fixed;
    bottom: 14px;
    left: 24px;
    z-index: 99;
}

.scroll {
    color: $red-dark;
    font-size: 37px;
}

.rolagem {
    background: $primary-light;
}