.bg-home {
    position: relative;

}

.bg-home::before {
    content: '';
    display: block;
    position: absolute;
    background-image: $bg-home-grad;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
}

.hero {
    color: $white-normal;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1 {
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 46px;
    }

    p {
        text-align: center;
        margin: 14px 0;
    }
}

.button-contact {
    padding: 14px 28px;
    color: $white-normal;
    background-color: $red-normal;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
    border-radius: 25px;
}

.button-contact:hover {
    animation: scaleButton 0.8s alternate infinite;
}