.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8px;
}

.btn-whastapp {
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;

    img {
        max-width: 74px;
        transition: transform 0.4s;
    }

    img:hover {
        transform: scale(1.1);
    }
}

.btn-whastapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 200px;
    top: 8px;
    left: -210px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: $black-normal;
    color: $white-normal;
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 14px;
}

.btn-whastapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}