.services {
    background-color: $primary-normal;
    color: $white-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 14px;
}

.services-content h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 40px;
}

.services-content p {
    line-height: 150%;
    margin-bottom: 40px;
    text-align: center;
    max-width: 1440px;
    text-align: justify;
    hyphens: auto;
    word-spacing: -0.05em;
}

.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 98.8vw;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-backgeround-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    h1 {
        color: $white-normal;
        text-align: center;
        font-size: 78px;
        z-index: 50;
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
    }
}

.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: $parallax-grad-moz;
    background: $parallax-grad-webkit;
    background: $parallax-grad-o;
    background: $parallax-grad;
}

.container-parallax {
    width: 100%;
    max-width: 1440px;
    // margin: 0 0;
    padding: 0 20px;

    p {
        text-align: justify;
        hyphens: auto;
        word-spacing: -0.05em;
    }
}

.parallax-1 {
    background-image: url("../assets/DashboardImg.png");
}

.parallax-2 {
    background-image: url("../assets/Component\ 1.png");
}

.parallax-3 {
    background-image: url("../assets/StockManager.png");
}

.parallax-4 {
    background-image: url("../assets/Tire\ sua\ ideia\ do\ papel.jpg");
}

.parallax-5 {
    background-image: url("../assets/Tela\ Relatorio.png");
}

.parallax-title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;

    h2 {
        font-size: 30px;
        font-weight: 900;
    }
}

.btn-entrar-em-contato {
    color: $white-normal;
    font-size: 10px;
    margin-left: 20px;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: $red-light;
    transition: background-color 0.8s;
}
.btn-entrar-em-contato:hover {
    border: 1px solid $red-dark;
    background-color: $red-dark;
    animation: translateY 0.8s infinite alternate;
}

.module {
    p {
        margin-bottom: 10px;
    }
}

.module:last-child {
    margin-bottom: 0;
}

.content {
    padding: 40px 0;
}
