.services {
    background-color: $primary-normal;
    color: $white-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 14px;
}

.services-content h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 40px;
}

.services-content p {
    line-height: 150%;
    margin-bottom: 40px;
    text-align: center;
    max-width: 1440px;
    text-align: justify;
    hyphens: auto;
    word-spacing: -0.05em;
}

.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 98.8vw;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-backgeround-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    h1 {
        color: $white-normal;
        text-align: center;
        font-size: 78px;
        z-index: 50;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
    }
}

.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: $parallax-grad-moz;
    background: $parallax-grad-webkit;
    background: $parallax-grad-o;
    background: $parallax-grad;
}

.container-parallax {
    width: 100%;
    max-width: 1440px;
    // margin: 0 0;
    padding: 0 20px;

    p {
        text-align: justify;
        hyphens: auto;
        word-spacing: -0.05em;
    }
}

.parallax-1 {
    background-image: url('../assets/Dashboard.png');
}

.parallax-2 {
    background-image: url('../assets/Component\ 1.png');
}

.parallax-3 {
    background-image: url('../assets/imagem\ padrao.png');
}

.parallax-4 {
    background-image: url('../assets/Tire_sua_ideia_do_papel-mobile.webp');
}

.parallax-5 {
    background-image: url('../assets/imagem\ padrao.png');
}

.module {
    h2 {
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: 900;
    }

    p {
        margin-bottom: 40px;
    }
}

.module:last-child {
    margin-bottom: 0;
}

.content {
    padding: 40px 0;
}