@media screen and (max-width: 665px) {
    .copyright {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 24px;
    }

    .parallax-1 {
        background-image: url("../assets/dash\ mobile.png");
        max-width: 100%;
        min-width: 300px;
        height: auto;
    }

    .parallax-2 {
        background-image: url("../assets/gv\ mobile.png");
        max-width: 100%;
        min-width: 300px;
        height: auto;
    }

    .parallax-3 {
        background-image: url("../assets/stock\ mobile.png");
        max-width: 100%;
        min-width: 300px;
        height: auto;
    }

    .parallax-4 {
        background-image: url("../assets/tire\ sua\ ideia\ mobile.png");
        max-width: 100%;
        min-width: 300px;
        height: auto;
    }

    .parallax-5 {
        background-image: url("../assets/realtorio\ mobile.png");
        max-width: 100%;
        min-width: 300px;
        height: auto;
    }

    .parallax-title {
        h2 {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    .btn-whastapp {
        img {
            max-width: 64px;
        }
    }

    .scroll {
        font-size: 32px;
    }

    .hero {
        min-height: 60vh;

        h1 {
            font-size: 34px;
            padding: 0 14px;
            width: 100%;
        }

        p {
            font-size: 14px;
        }
    }

    .header-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i {
            margin-top: 16px;
            font-size: 34px;
        }
    }

    .header-logo img {
        width: 160px;
        margin-top: 46px;
    }

    .header-button {
        display: none;
    }

    .tab,
    .tablinks {
        display: none;
    }

    .form {
        flex-direction: column;
        width: 360px;
    }

    .contact {
        width: 100%;
    }

    .about-content {
        flex-direction: column;
    }

    .parallax h1 {
        font-size: 48px;
    }

    .mapa {
        width: 358px;
    }
}

@media screen and (max-width: 1440px) {
    .container-parallax {
        max-width: 768px;
    }

    .services-content p {
        max-width: 768px;
    }
}