* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: rgb(255, 255, 255);
}

.header-icons {
  font-size: 8px;
  display: flex;
  gap: 14px;
  margin-left: 10px;
}
.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: rgb(211, 64, 64);
}

.header-button {
  border: 1px solid rgb(255, 255, 255);
  padding: 8px 24px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  transition: background-color 0.8s;
  border-radius: 25px;
}

.header-button:hover {
  border: 1px solid rgb(211, 64, 64);
  background-color: rgb(211, 64, 64);
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0 15px;
  position: fixed;
  z-index: 99;
}
.tab a.actived {
  background-color: rgb(211, 64, 64);
}

.tablinks {
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 5px;
  z-index: 99;
  background-color: transparent;
  transition: background-color 0.8s;
  font-family: "Montserrat", "Sora", sans-serif;
  font-weight: 200;
  border-radius: 5px;
  margin: 5px;
}

.tablinks:hover {
  background-color: rgba(211, 64, 64, 0.5);
}

.back-to-top {
  position: fixed;
  bottom: 14px;
  left: 24px;
  z-index: 99;
}

.scroll {
  color: rgb(180, 43, 43);
  font-size: 37px;
}

.rolagem {
  background: rgb(12, 33, 53);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

.btn-whastapp {
  position: fixed;
  bottom: 14px;
  right: 24px;
  z-index: 99;
}
.btn-whastapp img {
  max-width: 74px;
  transition: transform 0.4s;
}
.btn-whastapp img:hover {
  transform: scale(1.1);
}

.btn-whastapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 200px;
  top: 8px;
  left: -210px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(35, 34, 36);
  color: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 14px;
}

.btn-whastapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.services {
  background-color: rgb(6, 18, 30);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 14px;
}

.services-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 40px;
}

.services-content p {
  line-height: 150%;
  margin-bottom: 40px;
  text-align: center;
  max-width: 1440px;
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
  word-spacing: -0.05em;
}

.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 98.8vw;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-backgeround-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.parallax h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 78px;
  z-index: 50;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.parallax:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, rgb(6, 18, 30) 100%);
}

.container-parallax {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
}
.container-parallax p {
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
  word-spacing: -0.05em;
}

.parallax-1 {
  background-image: url("../assets/DashboardImg.png");
}

.parallax-2 {
  background-image: url("../assets/Component 1.png");
}

.parallax-3 {
  background-image: url("../assets/imagem padrao.png");
}

.parallax-4 {
  background-image: url("../assets/Tire sua ideia do papel.jpg");
}

.parallax-5 {
  background-image: url("../assets/Tela Relatorio.png");
}

.parallax-title {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}
.parallax-title h2 {
  font-size: 30px;
  font-weight: 900;
}

.btn-entrar-em-contato {
  color: rgb(255, 255, 255);
  font-size: 10px;
  margin-left: 20px;
  border-radius: 25px;
  padding: 5px 10px;
  background-color: rgb(211, 64, 64);
  transition: background-color 0.8s;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.btn-entrar-em-contato:hover {
  border: 1px solid rgb(180, 43, 43);
  background-color: rgb(180, 43, 43);
}

.module p {
  margin-bottom: 40px;
}

.module:last-child {
  margin-bottom: 0;
}

.content {
  padding: 40px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: rgb(255, 255, 255);
}

.contato-infos {
  font-size: 12px;
}

.contato-infos a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.logo-footer {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.form {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: rgb(237, 234, 239);
  box-shadow: 10px 7px 5px rgba(45, 75, 102, 0.5);
  flex-direction: column;
}

.contact-form {
  margin-left: 10px;
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contate-nos-titulo {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border-bottom: 2px solid rgb(211, 64, 64);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.contate-nos-titulo-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.single-input {
  position: relative;
  margin: 30px 0;
}
.single-input label {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: rgb(150, 150, 150);
  cursor: text;
  transition: 0.3s ease-in-out;
}

.input,
.input-text {
  width: 330px;
  padding: 5px;
  border: 0;
  border-bottom: 2px solid rgb(200, 200, 200);
  outline: 0;
  font-size: 16px;
  color: rgb(35, 34, 36);
  transition: 0.3s ease-in-out;
  background-color: transparent;
  resize: none;
}

.input:focus,
.input:valid,
.input-text:focus,
.input-text:valid {
  border-bottom: 2px solid rgb(211, 64, 64);
}

.input:focus ~ label,
.input:valid ~ label {
  transform: translateY(-24px);
  font-size: 12px;
  color: rgb(211, 64, 64);
}

.input-text:focus ~ label,
.input-text:valid ~ label {
  transform: translateY(-50px);
  font-size: 12px;
  color: rgb(211, 64, 64);
}

.btn-enviar {
  bottom: 0;
  float: right;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 14px 25px;
  background-color: rgb(211, 64, 64);
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.mapa {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border: 0;
}

.btn-enviar:hover {
  background-color: rgb(180, 43, 43);
  animation: translateY 0.9s infinite alternate;
}

.btn-box {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.7), rgb(6, 18, 30)), url("../assets/background.svg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.hero {
  color: rgb(255, 255, 255);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 46px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}

.button-contact {
  padding: 14px 28px;
  color: rgb(255, 255, 255);
  background-color: rgb(217, 65, 64);
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
  border-radius: 25px;
}

.button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}

.about {
  background-color: rgb(6, 18, 30);
  overflow: hidden;
  color: rgb(255, 255, 255);
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
}
.about-content img {
  max-width: 570px;
}
.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
  font-weight: 500;
}
.about-description p {
  margin-bottom: 14px;
  line-height: 150%;
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
  word-spacing: -0.05em;
}

@media screen and (max-width: 665px) {
  .copyright {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .btn-whastapp img {
    max-width: 64px;
  }
  .scroll {
    font-size: 32px;
  }
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 16px;
    font-size: 34px;
  }
  .header-logo img {
    width: 160px;
    margin-top: 46px;
  }
  .header-button {
    display: none;
  }
  .tab,
  .tablinks {
    display: none;
  }
  .form {
    flex-direction: column;
    width: 360px;
  }
  .contact {
    width: 100%;
  }
  .about-content {
    flex-direction: column;
  }
  .parallax h1 {
    font-size: 48px;
  }
  .mapa {
    width: 358px;
  }
}
@media screen and (max-width: 1440px) {
  .container-parallax {
    max-width: 768px;
  }
  .services-content p {
    max-width: 768px;
  }
}
@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
body {
  font-family: "Montserrat", "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgb(6, 18, 30);
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */