* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

@import 'partials/colors';
@import 'partials/header';
@import 'partials/layout';
@import 'partials/parallax';
@import 'partials/footer';
@import 'partials/contactUs';
@import 'partials/home';
@import 'partials/about';
@import 'partials/responsive';

body {
    font-family: 'Montserrat', 'Sora', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;

    background-color: $primary-normal;
}

button {
    font-family: 'Sora', sans-serif;
    cursor: pointer;
}

svg {
    width: 100%;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}